@using HTLegal.Models
@model IEnumerable<E_Home_Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var p = ViewBag.p;
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/admin/home/dashboard">Trang chủ</a>
        </li>
        <li>
            <a href="/admin/homepage/Index">Home</a>
        </li>
        <li>
            <b>Banner</b>
        </li>
    </ul>
</div>

@if (p["home_add_banner"] == true)
{
    <a class="btn btn-primary btn-sm" href="/admin/homepage/Create">Thêm Banner mới</a>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["success"]
    </div>
}
else if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["error"]
    </div>
}

<!-- danh sach -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Thông tin Banner</h2>
            </div>
            <div class="box-content">
                <div class="control-group">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề chính</th>
                                <th>Tiêu đề phụ</th>
                                <th>Banner</th>
                                @if (p["home_update_banner"] == true || p["home_delete_banner"] == true)
                                {
                                    <th>Tác Vụ</th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Title_Slide
                                    </td>
                                    <td style="width:300px;">
                                        @item.SubTitle_Slide
                                    </td>
                                    <td>
                                        <img src="~/Content/HTLegal/img/slider/@item.Logo_1920x940_Slide" width="120" height="58" alt="slider image">
                                    </td>
                                    @if (p["home_update_banner"] == true || p["home_delete_banner"] == true)
                                    {
                                        <td>
                                            @if(p["home_update_banner"] == true)
                                            { 
                                            <a class="btn btn-info  btn-xs" href="/admin/homepage/create/@item.Id">
                                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                                Edit
                                            </a>
                                            }
                                            @if(p["home_delete_banner"] == true)
                                            { 
                                            <a class="btn btn-danger btn-xs" href="/admin/homepage/delete/@item.Id" onclick="return confirm('Bạn muốn xóa?')">
                                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                                Delete
                                            </a>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
